[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mads Hauberg
	email = mads095h@gmail.com
[safe]
	directory = /home/madshauberg/Documents/GitHub/botbear
	directory = /home/madshauberg/.dotfiles
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
